:root {
    --verda-acqua: #56B6C2;
    --blu: #61AFEF;
    --rosso: #E06C75;
    --arancione: #D19A66;
    --giallo: #E5C07B;
    --verde: #98C379;

    --bianco: #FDFCFA;
    --grigio: #ABB2BF;
    --scuro-1: #282C34;
    --scuro-2: #212528;
    --scuro-3: #1C1F25;
}

@font-face {
    font-family: Aquatico;
    src: url(./fonts/Aquatico-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Aquatico;
    color: var(--bianco);
}

body {
    background-color: var(--scuro-3);
    height: 200000px
}

p {
    font-size: 16px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

.allineamento-orizzontale {
    float: left;
}

.allineamento-orizzontale a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0;
}

.titolo-principale {
    display: block;
    text-align: center;
    margin: 3vh 0 3vh 0;
    color: var(--bianco);
}

.div-per-stream {
    display: block;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 80vh;
    border-radius: 4%;
}

.stream {
    width: 80vw;
    height: 80vh;
    border-radius: 4%;
}

.lista-live {
    position: relative;
    bottom: 2em;
}

.pallino-live {
    position: relative;
    top: 2px;
    background-color: red;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    margin-left: 16px;
}

.scritta-live {
    margin-left: 5px;
}

.icona-utenti-live {
    width: 20px;
    height: 20px;
    filter: invert(91%) sepia(92%) saturate(31%) hue-rotate(198deg) brightness(107%) contrast(100%);
    margin-left: 5px;
}

.icona-fullscreen-on {
    width: 20px;
    height: 20px;
    filter: invert(91%) sepia(92%) saturate(31%) hue-rotate(198deg) brightness(107%) contrast(100%);
    float: right;
}

.link-div {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 5px;
    margin-top: 5px;
}

.icon {
    width: 30px;
    height: 30px;
    filter: invert(91%) sepia(92%) saturate(31%) hue-rotate(198deg) brightness(107%) contrast(100%);
}

