:root {
    --verda-acqua: #56B6C2;
    --blu: #61AFEF;
    --rosso: #E06C75;
    --arancione: #D19A66;
    --giallo: #E5C07B;
    --verde: #98C379;

    --bianco: #FDFCFA;
    --grigio: #ABB2BF;
    --nero: #1C1F25;
}

@font-face {
    font-family: Aquatico;
    src: url(./fonts/Aquatico-Regular.otf);
}

::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--grigio);
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--bianco);
  }

* {
    box-sizing: border-box;
    color: var(--bianco )
}

body {
    font-family: Aquatico;
    background-color: var(--nero);
    display: grid;
    grid-template: 
        'header header header'
        'left-spacer stream right-spacer'
        'dati-tempo-reale dati-tempo-reale dati-tempo-reale'
        'barra-1 spazio barra-2'
        'barra-3 spazio barra-4'
        'footer footer footer';
}

p {
    font-size: 16px;;
}

img {
    filter: invert(91%) sepia(92%) saturate(31%) hue-rotate(198deg) brightness(107%) contrast(100%);
}

.titolo-principale {
    grid-area: header;
    text-align: center;
    margin-top: 51px;
}

.div-per-stream {
    grid-area: stream;
    aspect-ratio: 16 / 9;
}

.stream {
    width: 100%;
    height: 100%;
}

.div-live {
    grid-area: stream;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 100%;
}

.pallino-live {
    background-color: red;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    margin-left: 1rem;
}

.scritta-live {
    margin-left: 0.5rem;
}

.icona-utenti-live {
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
}

.bottoni-social {
    grid-area: right-spacer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.link-div {
    grid-area: social;
    background-color: var(--nero);
    border-color: var(--bianco);
    border-style: solid;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* Mobile */

@media all and (max-width: 800px) {
    body {
        background-color: var(--blu);
    }
}
